/* Fonts */
@font-face {
    font-family: Walsheim;
    src: url("fonts/Walsheim-Regular.ttf")
}

@font-face {
    font-family: Pintgram;
    src: url("fonts/Pintgram-Regular.ttf")
}

/* Login Page */
html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("../assets/skyO2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#airworld-whole-logo {
    margin: 15% 0 16% 0;
    width: 50%;
}

.login-inputs {
    background-color: #21547880;
    color: #FFF;
    width: 65%;
    height: 40px;
    font-size: 20px;
    font-family: Walsheim;
    border: none;
}

::placeholder {
    color: #FFF !important;
}

.login-inputs:focus {
    color: #FFFFFF;
    background-color: #1b254a9e;
    border-color: #80bdff;
}

.airworld-btn {
    width: 65%;
    border-radius: 75px;
    height: 40px;
    background-color: #FFFFFF;
    color: #1b254a;
    border: solid 1px #707070;
    font-size: 20px;
    font-family: Walsheim;
    transition: 0.5s;
}

.airworld-btn:hover {
    color: #FFFFFF;
    background-color: #1b254a;
}

.login-icons {
    width: 35px;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

.login-input-grp {
    background-color: #21547880;
    border: solid 1px #215478;
    border-radius: 5px;
    width: 80%;
}

.row {
    margin: 0;
}

.marg-bottom{
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    #airworld-whole-logo {
        margin: 50% 0 16% 0;
        width: 100%;
    }

    .login-input-grp {
        background-color: #21547880;
        border: solid 1px #215478;
        border-radius: 5px;
        width: 90%;
    }
    
    .airworld-btn{
        width: 90%;
    }
}